.upload-container {
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-top:2em;
  gap:1.5em;
}

.upload-avatar {
  cursor:pointer;
}

.upload-image-container {
  display: flex;
  flex-direction:column;
  gap:.5em;
  width:450px;
}

.upload-input-container {
  background: rgba(75, 72, 106, .25);
  height:110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:.7em;
  align-items: center;
  border-radius: 10px;
  border:2px dashed hsl(245, 19%, 35%);
  backdrop-filter: blur(2px);
  transition: background-color .15s linear;
}

.upload-input-container:focus {
  outline:2px double hsl(245, 15%, 58%);
  outline-offset:2px;
}

.upload-input-container:hover {
  background-color:rgba(75, 72, 106, .6);
}

.upload-icon-container {
  background-color:hsla(246, 15%, 58%, 0.267);
  border-radius: 7px;
  border:1px double hsla(246, 15%, 58%, 0.267);
  width:50px;
  height:50px;
  display:flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}

.upload-icon-container img {
  width:95%;
  height:95%;
  border-radius:5px;
  object-fit:cover;
}

.drag-text {
  color: var(--main-text-color);
}

.info-text {
  color: hsl(245, 15%, 58%);
  font-size: .75rem;
  display: flex;
  align-items: center;
  gap:.3em;
  font-weight:800;
}

.input-upload {
  display: none;
}

.btn {
  background-color: hsla(245, 19%, 35%, 0.199);
  color: hsl(245, 15%, 58%);
  padding:.5em .7em;
  border:none;
  margin-right:.5rem;
  font-size:.8rem;
  cursor:pointer;
  border-radius:5px;
}

.btn.remove-btn {
  text-decoration:underline;
}