*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('./assets/fonts/Inconsolata-VariableFont_wdth\,wght.ttf');
}

#root {
  --main-text-color: hsl(252, 6%, 83%);
  background:
    url('./assets/images/pattern-squiggly-line-top.svg') right 100px no-repeat,
    url('./assets/images/pattern-lines.svg'),
    url('./assets/images/pattern-squiggly-line-bottom-desktop.svg') left 485px no-repeat,
    url('./assets/images/pattern-circle.svg') no-repeat 40px -70px / 190px,
    url('./assets/images/pattern-circle.svg') no-repeat 850px 430px / 190px,
    url('./assets/images/background-desktop.png') right 10% / cover no-repeat;
  font-family: 'Inconsolata', Arial;
  color: #fff;
  height:100vh;
}


@media (max-width: 375px) {
  #root {
    background:
      url('./assets/images/pattern-squiggly-line-top.svg') right 10px / 100px no-repeat,
      url('./assets/images/pattern-lines.svg') 10%,
      url('./assets/images/pattern-squiggly-line-bottom-mobile-tablet.svg') left bottom / 300px no-repeat,
      url('./assets/images/pattern-circle.svg') no-repeat -20px -20px / 100px ,
      url('./assets/images/pattern-circle.svg') no-repeat 290px 450px / 100px ,
      url('./assets/images/background-mobile.png') 0 0 / cover
    ;
    /* height:100vh; */
  }

  html {
    font-size:14px;
  }
}

@media (max-width:800px) and (min-width: 400px) {
  #root {
    background:
      url('./assets/images/pattern-squiggly-line-top.svg') right 100px no-repeat,
      url('./assets/images/pattern-lines.svg'),
      url('./assets/images/pattern-squiggly-line-bottom-mobile-tablet.svg') left bottom / 100% no-repeat,
      url('./assets/images/pattern-circle.svg') no-repeat 40px -70px / 190px,
      url('./assets/images/pattern-circle.svg') no-repeat 90% 40% / 190px,
      url('./assets/images/background-desktop.png') right 10% / cover no-repeat;
    padding:0;
  }
}